<img src="images/homescreen.gif" style="height: 100%; width: 100%" />
<a href=@Url.Action("About", "Home") class="notification">
    <i class="glyphicon glyphicon-comment" style="transform: scaleX(-3) scaleY(2); position: absolute; color:gainsboro"></i>
    <span class="number">!</span>
</a>
